IT_MITTWALD_API_TOKEN=TO_BE_SET
IT_SERVER_ID=TO_BE_SET
IT_INVITE_TARGET=TO_BE_SET@example.com
IT_INVITE_USER_TOKEN=TO_BE_SET
N8N_BASE_URL=http://localhost:5678
N8N_API_KEY=TO_BE_SET
N8N_MITTWALD_CREDENTIAL_ID=1234
N8N_REST_LOGIN_EMAIL=ANOTHER_TO_BE_SET@example.com
N8N_REST_LOGIN_PASSWORD=TO_BE_SET
